<div class="container mt-5 mb-5">
    <button class="btn btn-cart mb-4" onclick="window.location.href='/admin/category/add'">Add Category</button>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Manage</th>
            </tr>
        </thead>
        <tbody>
            {{#each categories}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{name}}</td>
                <td class="d-flex">
                    <form action='/admin/category/delete/{{id}}' method="post" enctype="application/json">
                        <button type="submit" class="btn btn-danger mr-3">Delete</button>
                    </form>
                    <form action='/admin/category/edit' method="get" enctype="application/json">
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit" class="btn btn-warning">Edit</button>
                    </form>
               </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>