<div class="container d-flex justify-content-center mt-5 mb-5">
    <form action="/admin/category/edit/{{id}}" method="post" enctype="application/json">
        <div class="card card-total mt-4 mb-4">
            <div class="container">
                <div class="mb-4 mt-4 ml-5 mr-5">
                    <label for="cateName" class="form-label">Update name of category</label>
                    <input type="text" class="form-control" id="cateName" name="name" placeholder="Enter new name" value="{{cateName}}">
                </div>
                <div class="row justify-content-center mb-5 ml-5 mr-5">
                    <button type="submit" class="btn btn-block btn-cart">Edit</button>
                </div>
            </div>
        </div>
    </form>
</div>
