<div class="row">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-6 col-md-8">
                    <h4>Fullname: {{name}}</h4>
                    <small>Username: <cite>{{username}} </cite></small>
                    <p>
                        Avatar: <img src="{{avatar}}">
                    </p>
                    <a href="/signout"><button type="button" class="btn btn-primary">
                            Sign out</button></a>
                </div>
            </div>
        </div>
</div>