<div class="container-fluid h-100 mt-4">
  <div class="row h-100 justify-content-center align-items-center mt-4">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card align-items-center">
            <form style="width:70%" id="signin-form" name="signin-form">
                <div class="mb-3 mt-4">
                    <label for="username" class="form-label" style="color: #000000;">Username</label>
                    <input autofocus type="text" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label" style="color: #000000;">Password</label>
                    <input type="password" class="form-control" id="password">
                </div> 
                <div style="width:100%" class="mb-3 mt-4">
                    <button style="width:100%"  type="button" class="gsi-material-button" id="google-signin-button">
                        <div class="gsi-material-button-state"></div>
                        <div class="gsi-material-button-content-wrapper">
                            <div class="gsi-material-button-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                                <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                                <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                                <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                                <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                                <path fill="none" d="M0 0h48v48H0z"></path>
                            </svg>
                            </div>
                            <span class="gsi-material-button-contents">Sign in with Google</span>
                            <span style="display: none;">Sign in with Google</span>
                        </div>
                    </button>
                </div> 
                <div style="width:100%"  class="mb-3" >
                    <button style="width:100%"  type="button" class="gsi-material-button fb-login-button" id="facebook-signin-button" data-width="" data-size="" data-button-type="" data-layout="" data-auto-logout-link="false" data-use-continue-as="false">
                        Sign in with Facebook
                    </button>
                </div>
                <div class="form-group mt-4 d-flex flex-column align-items-center">
                    <div id="form-message mt-2 mb-2"></div>
                    <button style="background-color: #ba3838" type="submit" class="btn btn-warning text-light">Sign In</button>
                </div>         

            </form>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#google-signin-button').on('click', function() {
        window.location.href = 'https://localhost:3000/account/auth/google';
        });
        $('#facebook-signin-button').on('click', function() {
        window.location.href = 'https://localhost:3000/account/auth/facebook';
        });
        $('#signin-form').on('submit', function(e) {
            e.preventDefault(); 

            const username = $('#username').val();
            const password = $('#password').val();
            $.ajax({
                url: 'https://localhost:3000/account/signin', // Địa chỉ endpoint để kiểm tra validate
                method: 'POST',
                data: {
                username: username,
                password: password,
                },
                dataType: 'json',
                success: function(response) {
                // Xử lý kết quả trả về từ server sau khi kiểm tra validate
                if (response.isValid) {
                    // Nếu thông tin hợp lệ, tiến hành đăng ký
                    window.location.href = 'https://localhost:3000/';
                } else {
                    // Nếu thông tin không hợp lệ, hiển thị thông báo lỗi
                    $('#form-message').text(response.message);
                }
                },
                error: function(xhr, status, error) {
                    // Xử lý lỗi nếu có
                    console.error(error);
                }
            });
        });
    });
</script>