<nav class="navbar navbar-light bg-light">
  <div class="header__left">
    <img src="/Images/Book.png" alt="Logo" width="40" height="40">
    {{#if user}}
       {{#ifE role "admin"}}
           <h3 class="mt-2" style="display: inline-block; margin-left: 10px;">AdminPage</h3>
        {{/ifE}}

        {{#ifE role "user"}}
           <h3 class="mt-2" style="display: inline-block; margin-left: 10px;">SmartBook</h3>
        {{/ifE}}
    {{else}}
       <h3 class="mt-2" style="display: inline-block; margin-left: 10px;">SmartBook</h3>
    {{/if}}
  </div>

  <div class="mx-auto order-0 ">
    <form class="form-inline w-100" method="post" action="/book/search">
      <input name="inputName" style="width:450px" class="form-control mr-sm-2 search__bar " type="search" placeholder="Search" aria-label="Search">

      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0 no-border">
          <img src="/Images/search.png" alt="Logo" width="25" height="25">
        </button>
      </div>
    </form>
  </div>

  <div class="header__right order-2">
    <img  id="cartImage" class="mr-2 pointer" src="/Images/cart.png" alt="Logo" width="30" height="30">
    {{#if user}}
        <button type="button" class="btn btn-warning btn-signin"><a style="color: #ffffff;" href="/account/signout">Sign Out</a></button>
    {{else}}
      <button type="button" class="btn btn-warning btn-signin mr-2"><a style="color: #ffffff;" href="/account/signin">Sign In</a></button>
      <button type="button" class="btn btn-warning btn-signin"><a style="color: #ffffff;" href="/account/signup">Sign Up</a></button>
    {{/if}}
  </div>
</nav>

<nav class="navbar navbar-expand-lg" style="background-color: #FAE6D4;">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/category">Category</a>
      <a class="nav-item nav-link" href="#">Order History</a>
      <a class="nav-item nav-link" href="#">Profile</a>
      {{#if user}}
       {{#ifE role "admin"}}
        <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/admin/showProducts">Products</a>
        <a class="nav-item nav-link" href="#">Categories</a>
        <a class="nav-item nav-link" href="#">Users</a>
        <a class="nav-item nav-link" href="#">Orders</a>
        <a class="nav-item nav-link" href="#">Revenue</a>
        <a class="nav-item nav-link" href="#">Profile</a>
        {{/ifE}}

        {{#ifE role "user"}}
        <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/category">Category</a>
       <a class="nav-item nav-link" href="#">Order History</a>
       <a class="nav-item nav-link" href="#">Profile</a>
        {{/ifE}}
     {{else}}
        <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/category">Category</a>
       <a class="nav-item nav-link" href="#">Order History</a>
       <a class="nav-item nav-link" href="#">Profile</a>
    {{/if}}
    </div>
  </div>
</nav>

<script>
  console.log(`{{admin.fullname}}`);
  document.getElementById('cartImage').addEventListener('click', function(){
    const destinationURL = '/cart';
    window.location.href = destinationURL;
  });
</script>