<div  class="footer-background navbar navbar-light">
  <div class="header__left">
    <img src="/Images/book.png" alt="Logo" width="40" height="40">
    <h3 class="mt-2" style="display: inline-block; margin-left: 10px;">SmartPay</h3>
  </div>
</div>