.category-bg {
    background-color: #F8F1E8; /* Màu nền mong muốn cho category */
}
.app__bodyody{
    min-height: 100vh;
}

.roboto-font-size-18 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
}

.black-hr {
    border-top: 1px solid #000000;
}

.pointer{
    cursor: pointer;
    margin-bottom: 10px;
}

.custom-pagination-background {
    background-color: #FAE6D4; 
}

.custom-page-number {
    color: #000000; 
    font-weight: bold;
    margin: 0 5px;
}

.footer-background {
    background-color: #FAE6D4; 
}

.font-footer {
    font-family: 'Hannari', sans-serif; 
    font-size: 2em; 
    margin-left: 10px;
}

.font-footer2 {
    font-family: 'Hannari', sans-serif; 
    font-size: 1em;
    color: #897272;
}

.footer-height {
    height: 200px;
}

.smart-text, .book-text {
    white-space: nowrap; /* Viết liền */
}

.smart-text {
    color: #000000; /* Màu chữ đen cho phần "Smart" */
}

.book-text {
    color: #585353; /* Màu chữ cho phần "Book" */
}


.search__bar {
    border-radius: 10px;
    width: 500px;
  }


  .no-border {
    border: none;
  }

  .no-border {
    border: none;
    box-shadow: none;
  }
  
  /* Màu khi hover */
  .btn-outline-success:hover {
    color: #fff; /* Màu chữ khi hover */
    background-color: #eaeaea00; /* Màu nền khi hover */
  }
  .btn-signin{
    background-color: #d1ae6d;
    width: 30;
    height: 30;
    color: #fff;
    border-radius: 10px;
  }

.nav-item{
    color:#000000;
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
}

.carousel-control-prev, .carousel-control-next {
    color: #000; /* Set the color to black */
  }

  .book-item {
    width: 16rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm shadow */
    margin-bottom: 16px; /* Thêm khoảng cách giữa các phần tử */
  }


/* Book detail */

.product-detail {
    max-width: 100%;
    margin: 50px auto;
    background-color: #fae6d47d;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-detail img {
    max-width:350px;
    height:350px;
}

.product-info {
    margin-top: 20px;
}

.btn-add-to-cart{
    margin-right: 20px;
    
}
.product-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 16px;
    margin-bottom: 15px;
}

.product-info .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
}


/*Cart Page*/
.title-font{
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    font-weight: 540;
}

.checkout-font{
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
}

.checkout-font2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    font-weight: 550;
}

.namebook-font{
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    font-weight: 550;
}

.line{    
    height: 0.5px; 
    background-color: #000; 
}

.custom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px; /* Chiều cao cố định của hàng */
}

.custom-checkbox {
    width: 1.4rem; 
    height: 1.4rem; 
}

.card-total{
    width: 24rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-list{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-input-group {
    max-width: 140px;
}

.btn-cart{
    background-color: #DEAB8F; 
    color: white;
}

.voucher{
    height: 50px;
}

.custom-input {
    font-size: 16px; /* Đặt kích thước chữ */
    color: #333; /* Đặt màu chữ */
    border: 2px solid #6c757d; /* Đặt màu viền */
    border-radius: 8px; /* Bo tròn góc */
}

.custom-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25); /* Hiệu ứng khi input được focus */
}

.namebook {
    width: 200px; /* Đặt chiều rộng mong muốn, bạn có thể thay đổi giá trị này */
    min-width: 200px; /* Chiều rộng tối thiểu */
    max-width: 200px; /* Chiều rộng tối đa */
    overflow: hidden; /* Ẩn phần vượt quá chiều rộng */
    
    text-overflow: ellipsis; /* Hiển thị dấu elipsis (...) khi văn bản quá dài */
}

  

  

